%section.video-index
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.title.uppercase.tli.fw-500 Explore all of our models
      .col-sm-10.col-sm-offset-1
        - @models.each_slice(12) do |models|
          .row
            - models.each do |model|
              .col-sm-3
                .view.view-first
                  = image_tag "#{model.portfolio_image}"
                  .mask
                    %h2
                      = link_to model_path(model) do
                        = model.name
                  = link_to "View More", model_path(model), class: "info text-uppercase"
                  / %a.info.text-uppercase{:href => "#"} View More

