%section.margin-top-twenty
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.title.uppercase.tli.fw-500 All Models
      .col-sm-10.col-sm-offset-1
        - @models.each do |model|
          .col-sm-3
            .view.br-0
              = image_tag "#{model.portfolio_image}"
              .mask
                %h2
                  = link_to model_path(model) do
                    = model.name
              / %a.info.text-uppercase{:href => "#"} View More
            = link_to "Edit Model", edit_admin_model_path(model), class: "strong text-uppercase"

