%section.home-main
  .black-bkg
  .vcenter
    .col-sm-12
      %p WELCOME TO MY PERSONAL WEBSITE
      %h1 VERONICA RODRIGUEZ
      .col-sm-4.col-sm-offset-4
        %a.btn.hvr-shutter-out-vertical.scroll{:href => "#scroll-link"} SEE MORE
%section#scroll-link.latest-videos.ptb-100
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.title Latest Videos
    .row
      .col-sm-10.col-sm-offset-1
        - @latest_videos.order(post_date: 'ASC').each do |vid|
          .col-sm-4
            .slideshow-block-fix
              = link_to '', vid, class: 'link'
              .slides
                - unless vid.featured_image.blank?
                  = image_tag vid.featured_image, class: 'img-responsive'
                - unless vid.thumbnail_1.blank?
                  = image_tag vid.thumbnail_1, class: 'img-responsive'
                - unless vid.thumbnail_2.blank?
                  = image_tag vid.thumbnail_2, class: 'img-responsive'
                - unless vid.thumbnail_3.blank?
                  = image_tag vid.thumbnail_3, class: 'img-responsive'
                - unless vid.thumbnail_4.blank?
                  = image_tag vid.thumbnail_4, class: 'img-responsive'
            %p.video-small-title= link_to "#{vid.title}", vid.slug
            %p.video-small-date= vid.post_date
            .col-sm-12.nono
              %p.starting
                %b Starring:
                Veronica Rodriguez
                - vid.models.each do |p|
                  , #{p.name}
              %p.starting
              / <p class="starting">85,274 Views*  |  Comments (500)</p>
            /
              <div class="col-sm-4 nono">
              <p class="likes"><i class="fa fa-thumbs-up fa-2x"></i> 1000  <i class="fa fa-thumbs-down fa-2x"></i> 20</p>
              </div>
    :javascript
      $('.slides').cycle({
        fx:     'none',
        speed:   1500,
        timeout: 1
      }).cycle('pause');
      $('.slideshow-block').hover(function(){
          $(this).find('.slides').addClass('active').cycle('resume');
      }, function(){
          $(this).find('.slides').removeClass('active').cycle('pause');
      });
    .space-100
    .row
      .col-sm-10.col-sm-offset-1
        %h2.all-videos
          %a{:href => "/videos"}
            View More Videos
            %i.fa.fa-angle-right
%section.events-home
  .black-bkg
  .container-fluid
    .row
      .col-sm-12
        %h2
          %b Upcoming Events
        .row.t-center
          .col-xs-12.col-sm-10.col-sm-offset-1
            - @events.each do |e|
              .col-sm-4.white
                %h5
                  %b
                    = e.type_of_event
                    #{e.name_of_location}
                %hr/
                %p
                  = e.date
                  %br #{e.time.strftime("%I:00 %p")}
                %p= e.address
                %p= e.phone
    .row
      .col-sm-12
        %h2
          %b Live Shows
        .row.t-center
          .col-xs-12.col-sm-10.col-sm-offset-1
            - @live_shows.each do |e|
              .col-sm-4.white
                %h5
                  %b
                    = e.title
                %hr/
                %p
                  = e.date
                  %br
                  = e.time.strftime("%I:00 %p")
                  = precede(" ") do
                    = e.timezone
= render 'layouts/upcoming_videos'
%section.products-home
  .black-bkg
  .container-fluid
    .row
      .col-sm-12
        %h2 CHECK OUT MY PRODUCTS
        .el-center
          %a.btn.btn-default{:href => ""} COMING SOON
%section.news-home.ptb-100
  .container-fluid
    .col-sm-10.col-sm-offset-1
      .col-sm-12
        %h2.title LATEST POSTS
        - @posts.each do |e|
          = link_to post_path(e) do
            .col-sm-4.white
              = image_tag("#{e.featured_image}")
              %h5.black-color
                = e.title
              %hr/
  .container-fluid
    .row
      .col-sm-12
        %h2 WANT A MORE PERSONAL CONVERSATION?
        .el-center
          %a.btn.btn-default{:href => "http://www.chatstar.com/Veronica_Rodriguez", :target => "_blank"} CHAT NOW