%section.policy-index.margin-top-twenty{:style => "padding-bottom: 0px;"}
  .container-fluid
    = render "admin/panel/admin_panel"
    .row
      .col-sm-4.col-sm-offset-4
        %h2.title Live Shows
        %hr
        %h5
          = link_to 'Add Live Show', new_admin_live_show_path
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        - @live_shows.each do |e|
          .col-sm-4.text-center
            %h5
              %b
                = e.title
            %hr/
            %p
              = e.date
            %p
              = e.time
              = precede(" ") do
                = e.timezone
            %p.text-uppercase
              %b
                = link_to "Edit", edit_admin_live_show_path(e)
                = precede '- ' do
                  = link_to "Remove", admin_live_show_path(e), method: "delete"