%section.video-index
  .container-fluid
    .row
      .col-sm-7.col-sm-offset-1
        %h2.title.uppercase.tli.fw-500 Live Show Schedules
        .col-xs-12.col-sm-10.col-sm-offset-1
          - @live_shows.each_slice(3) do |shows|
            .row.t-center
            - shows.each do |e|
              .col-sm-4.t-center
                %h5
                  %b
                    = e.title
                %hr/
                %p
                  = e.date
                  %br
                  = e.time.strftime("%I:00 %p")
                  = precede(" ") do
                    = e.timezone
    .row
      .col-xs-12.live-stream
        %iframe{:allowfullscreen => "yes", :frameborder => "0", :height =>'100%', :scrolling => "no", :src => "http://content.streamhoster.com/player/lv_vrodproductions/broadcast1?autoPlay=1&showPlayPauseBtn=0&bufferTime=1&expandedBufferTime=60", :webkitallowfullscreen => "yes", :width => '100%'}      }
    .row
      .col-xs-12
        %iframe{:allowtransparency => "true", :frameborder => "0", :height => "250px", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://chatroll.com/embed/chat/veronica-rodriguez-chat?id=n8QQt4jFQRg&platform=html&w=$0", :width => "100%"}
        %br/
        %div{:style => "font-size:0.9em;text-align:center;"}
          %a{:href => "http://chatroll.com/"} Chat Software
