%section.video-index
  .container-fluid
    .row
      .col-sm-12
        %h2
          %b Live Shows
        .row.t-center
          .col-xs-12.col-sm-10.col-sm-offset-1
            - @live_shows.each do |e|
              .col-sm-4.black-color
                %h5.black-color
                  %b
                    = e.title
                %hr/
                %p.black-color
                  = e.date
                  %br
                  - if e.time.present?
                    = e.time.strftime("%I:00 %p")
                    = precede(" ") do
                      = e.timezone
    - if current_user.present? && current_user.is_paid? || current_user.present? && current_user.is_admin
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.live-stream.col-md-7.col-md-offset-2.col-lg-8
          %iframe{:allowfullscreen => "yes", :frameborder => "0", :height =>'100%', :scrolling => "no", :src => "https://content.streamhoster.com/player/lv_vrodproductions/broadcast1?autoPlay=1&showPlayPauseBtn=0&bufferTime=1&expandedBufferTime=60", :webkitallowfullscreen => "yes", :width => '100%'}      }
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-7.col-md-offset-2.col-lg-8
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "250px", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://chatroll.com/embed/chat/veronica-rodriguez-chat?id=n8QQt4jFQRg&platform=html&w=$0", :width => "100%"}
          %br/
          %div{:style => "font-size:0.9em;text-align:center;"}
            %a{:href => "http://chatroll.com/"} Chat Software
    - if current_user.present? && current_user.is_admin?
      .row
        .col-sm-10.col-sm-offset-1.text-center
          %h5#credits
            Your credits:
            = current_user.credits
        .col-sm-6.col-sm-offset-3.text-center
          %h4
            Purchase Credits
          %ul.list-inline
            %li
              = link_to "5 credits / $5", "https://wnu.com/secure/services/?api=memberplus&pi_code=cocreo1p932352&member_id=1900464043&reseller=a&username=infogus&referrer_pi_code=cjuuci2p893353", method: :post, target: "_blank"
            %li
              = link_to "10 credits / $10"
            %li
              = link_to "25 credits / $20"
            %li
              = link_to "70 credits / $50"
            %li
              = link_to "150 credits / $100"
      .row
        .col-sm-6.col-sm-offset-3.text-center
          %h4
            Setup a private show
          %ul.list-inline
            %li
              = link_to "10 minutes / 150 credits"
            %li
              = link_to "30 minutes / 450 credits"
            %li
              = link_to "1 hour / 750 credits"
      .row
        .col-sm-10.col-sm-offset-1.text-center
          = form_tag('/live_shows/tip', :remote => true) do
            %input{:type => "hidden", :name => 'user_id', :value => current_user.id}
            %input{:type => "hidden", :name => 'amount', :value => 5}
            %button Tip 5

    - if @recordings.count > 0
      .row
        .col-sm-10.col-sm-offset-1
          - @recordings.each_slice(3) do |recording|
            .row
              - recording.each do |rec|
                .col-sm-4
                  %p.pull-right.strong
                  = link_to live_stream_recording_path(rec) do
                    - unless rec.image.blank?
                      = image_tag rec.image, class: 'img-responsive'
                    %p.live_stream_recording-small-title.live_stream_recording-small-title-fix= "#{rec.title}"

    - else
      .row
        .col-sm-10.col-sm-offset-1.text-center
          %h3
            You do not have access to this part of the site.
          %p Live shows are for subscribed members only, please click on #{ link_to "SIGN UP", new_user_registration_path } to become a subscribed member.

          %p After signing up you can view the live show, and also have access to the previously recorded live shows.


  = subscribe_to "/credits/#{current_user.try(:username)}"
