%section.back-to-vids
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.all-videos
          %a{:href => "/videos"}
            %i.fa.fa-angle-left GO BACK TO VIDEOS
%section.video-index.pb-0
  .container-fluid
    .row
      - if current_user.present? && current_user.is_paid?
        .col-xs-10.col-xs-offset-1.video-player
          %h3 Full
          %video.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "100%", :id => "video-#{@video.id}", :poster => @video.featured_image, :preload => "auto", :width => "100%"}
            %source{:src => @video.video_url, :type => "video/mp4"}
              %p.vjs-no-js
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
      - else
        .col-xs-10.col-xs-offset-1.video-player
          %h3 Teaser
          %video.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "100%", :id => "video-#{@video.id}", :poster => @video.featured_image, :preload => "auto", :width => "100%"}
            %source{:src => @video.teaser_video_url, :type => "video/mp4"}
              %p.vjs-no-js
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
    .row.mt-50
      .col-xs-10.col-xs-offset-1
        %p.video-small-title= @video.title
        %p.video-small-date
          = @video.post_date
          |
          %b Starring:
          Veronica Rodriguez
          - @video.models.each do |p|
            , #{p.name}

    .row
      .col-xs-10.col-xs-offset-1
        %p= raw(@video.description)
%hr/
%section.video-index
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        / %h2.title Video Shots
    .row
      .col-sm-10.col-sm-offset-1.nono
        .row
          - if current_user.present?
            = render 'videos/videopics'
          - else
            %h3.title.fw-500.text-uppercase
              To view more additional features please sign up.
