%section.back-to-vids
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.all-videos
          %a{:href => "/videos"}
            %i.fa.fa-angle-left GO BACK TO VIDEOS
%section.video-index.pb-0
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        .row
          .col-xs-12.video-player
            - if current_user.present? && current_user.is_paid?
              %h4 Subscription Version
              %video.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "100%", :id => "video-#{@video.id}", :poster => @video.featured_image, :preload => "auto", :width => "100%"}
              %source{:src => @video.video_url, :type => "video/mp4"}
                %p.vjs-no-js
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
            - else
              %h4 Trial Version
              %video.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "100%", :id => "video-#{@video.id}", :poster => @video.featured_image, :preload => "auto", :width => "100%"}
              %source{:src => @video.teaser_video_url, :type => "video/mp4"}
                %p.vjs-no-js
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
        .row
          .col-sm-8
            %p.video-small-title= @video.title
            %p.video-small-date
              = @video.post_date
              |
              %b Starring:
              Veronica Rodriguez
              - @video.models.each do |p|
                , #{p.name}
            / <p class="video-small-date"></haml_block><haml_silent></haml_silent><haml_block> | <b>Starring:</b> Veronica Rodriguez | 85,274 Views*  |  Comments (500)</p>
          .col-sm-4
            / <p class="likes"><i class="fa fa-thumbs-up fa-2x"></i> 1000  <i class="fa fa-thumbs-down fa-2x"></i> 20</p>
        .row
          .col-sm-12
            %p= raw(@video.description)
%hr/
%section.video-index
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.title Video Shots
    .row
      .col-sm-10.col-sm-offset-1.nono
        .row
          = render 'videos/videopics'
        #infinite-scrolling
          = will_paginate @videopics