%section.policy-index.margin-top-twenty{:style => "padding-bottom: 0px;"}
  .container-fluid
    = render "admin/panel/admin_panel"
    .row
      .col-sm-4.col-sm-offset-4
        %h2.title Products
        %hr
      = form_for [:admin, @product] do |f|
        .row
          .col-sm-4.col-sm-offset-4
            .form-group.text-center
              = f.file_field :image, :title => "Product Image", "data-filename-placement" => "inside", class: "full-width"
            .form-group.text-center
              = f.text_field :title, placeholder: "Product name", class: "full-width text-center"
            .form-group.text-center
              = f.text_field :price, placeholder: "Price", class: "full-width text-center"
        .row
          .col-sm-4.col-sm-offset-4
            .form-group
              = f.text_area :description, placeholder: "Description of Product", class: "full-width form-control", :rows => '5'
        .row
          .col-sm-4.col-sm-offset-4
            %button.btn.btn-default{:type => "submit"} Submit
:javascript
  $(document).ready(function(){
    $('input[type=file]').bootstrapFileInput();
  });


