
%section.margin-top-twenty
  .container-fluid
    .row
      .col-sm-6.col-sm-offset-1
        %h3.title.tli.fw-500.mb-0= @post.title
        %img.img-responsive.mt-50{:alt => @post.title, :src => @post.featured_image}/
        %br
        = raw(@post.description)
      .col-sm-4.col-sm-offset-1
        %p.text-uppercase.mt-90
          = link_to "View All Posts", posts_path, class: "pink-color"
        %hr.mt-l0
        %p.text-uppercase
          Recent Posts
        - Post.all.each do |post|
          %p.mb-0= post.title
          %p.text-uppercase.f-07.mb-0= post.date
          = link_to "view post", post_path(post), class: "text-uppercase f-08 pink-color"
        %hr.mt-l0
        %p.text-uppercase
          Instagram
        %p
          Need Instagram credentials
