%section.margin-top-twenty.video-index
  .container-fluid
    .row
      .col-sm-6.col-sm-offset-1
        %h3.title.tli.fw-500.mb-0= @post.title
    .row
      - if @post.video.present?
        .col-sm-6.col-sm-offset-1
          %video.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "100%", :id => "video-#{@post.id}", :poster => @post.featured_image, :preload => "auto", :width => "100%"}
            %source{:src => @post.video, :type => "video/mp4"}
              %p.vjs-no-js
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
      .col-sm-6.col-sm-offset-1
        %img.img-responsive.mt-50{:alt => @post.title, :src => @post.featured_image}/
        %br
        = raw(@post.description)
      .col-sm-4.col-sm-offset-1
        %p.text-uppercase.mt-90
          = link_to "View All Posts", posts_path, class: "pink-color"
        %hr.mt-l0
        %p.text-uppercase
          Recent Posts
        - Post.all.each do |post|
          %p.mb-0= post.title
          %p.text-uppercase.f-07.mb-0= post.date
          = link_to "view post", post_path(post), class: "text-uppercase f-08 pink-color"
        %hr.mt-l0
        = render "instagram"
  - if current_user.present?
    - if @post.comments.count > 0
      .row
        .col-sm-6.col-sm-offset-1
          %h3.title.tli.fw-500
            Comments (Members Only)
          - @post.comments.each do |comment|
            %p
              - if comment.user_email.present?
                .text-uppercase.fw-500= comment.user_email
              = comment.comment
      .row
        .col-sm-6.col-sm-offset-1
          %h3.title.tli.fw-500
            Add Comment
          = form_for [@post, @comment] do |f|
            .form-group.full-width
              = f.text_field :user_email, placeholder: "Enter your name", class: "full-width"
            .form-group
              = f.text_field :comment, placeholder: "Enter your comment", class: "full-width"
            .form-group
              = f.submit
  - else
    .row
      .col-sm-6.col-sm-offset-1
        %h3.title.tli.fw-500
          only members may leave comments
