.row.t-center.admin-nav
  .col-sm-2
    %h5.text-uppercase Session
    %ul
      %li
        = link_to 'All Videos', admin_videos_path
      %li
        = link_to 'Add Video', new_admin_video_path
  .col-sm-2
    %h5.text-uppercase Users
    %ul
      %li
        = link_to 'All Users', admin_users_path
      %li
        = link_to 'Add User', new_admin_user_path
  .col-sm-2
    %h5.text-uppercase Models
    %ul
      %li
        = link_to 'All Models', admin_models_path
      %li
        = link_to 'Add Model', new_admin_model_path
  .col-sm-2
    %h5.text-uppercase Events
    %ul
      %li
        = link_to 'All Events', admin_events_path
      %li
        = link_to 'Add Event', new_admin_event_path
  .col-sm-2
    %h5.text-uppercase Live Show
    %ul
      %li
        = link_to 'All Shows', admin_live_shows_path
      %li
        = link_to 'Schedule', new_admin_live_show_path
  .col-sm-2
    %h5.text-uppercase Blog
    %ul
      %li
        = link_to 'All Posts', admin_posts_path
      %li
        = link_to 'Add Post', new_admin_post_path
