%header.cd-header
  .container-fluid.no-left-padding
    .row
      .col-sm-1.pull-left
        %nav#navbar
          = link_to tour_path do
            = image_tag 'https://s3-us-west-2.amazonaws.com/vrod-web-assets/main-logo.png'
      .col-sm-5.pull-right
        %ul#menu.nav.nav-pills.pull-right
          %li.text-right
            - if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to('Login', new_user_session_path)
              %li
                = link_to('Sign Up', new_user_session_path)
