.container-fluid
  .row.mb-0.border-bottom-gray
    .col-sm-2.pull-left
      = link_to tour_path do
        = image_tag 'https://s3-us-west-2.amazonaws.com/vrod-web-assets/main-logo.png', class: "logo-fix"
    .col-sm-10.pull-right.text-right
      %ul#menu.text-uppercase
        %li
          = link_to "Videos", videos_path
        %li
          = link_to "Models", models_path
        / %li
        /   = link_to "Live Shows", "#"
        %li
          = link_to "Blog", posts_path
        / %li
        /   = link_to "Store", "#"
        %li
          - if user_signed_in?
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            %li
              = link_to('Login', new_user_session_path)
            %li
              = link_to('Sign Up', new_user_registration_path)

%nav
  .cd-primary-nav
    %ul.cd-scndr-nav
      %li.cd-label= link_to 'Home', '#'
      %li.cd-label= link_to 'Videos', '#'
      %li.cd-label= link_to 'Models', '#'
      %li.cd-label= link_to 'Live Shows', '#'
      %li.cd-label= link_to 'Blog', '#'
      %li.cd-label= link_to 'Store', '#'
      %li.cd-label= link_to 'Events', '#'
      %li.cd-label
        %hr.menu-separator-fix
      - if user_signed_in?
        %li.cd-label
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li.cd-label
          = link_to('Login', new_user_session_path)
        %li.cd-label
          = link_to('Sign Up', new_user_session_path)