.row
  .col-sm-6.col-sm-offset-3.text-center
    %h4
      Purchase Credits
    %ul.list-inline
      %li
        = link_to "5 credits / $5", "https://wnu.com/secure/services/?api=memberplus&pi_code=cocreo1p932352&member_id=#{current_user.member_id}&reseller=a&username=#{current_user.username}&referrer_pi_code=#{current_user.product_code}", method: :post, target: "_blank"
      %li
        = link_to "10 credits / $10", "https://wnu.com/secure/services/?api=memberplus&pi_code=cocreo2p932353&member_id=#{current_user.member_id}&reseller=a&username=#{current_user.username}&referrer_pi_code=#{current_user.product_code}", method: :post, target: "_blank"
      %li
        = link_to "25 credits / $25", "https://wnu.com/secure/services/?api=memberplus&pi_code=cocreo3p932354&member_id=#{current_user.member_id}&reseller=a&username=#{current_user.username}&referrer_pi_code=#{current_user.product_code}", method: :post, target: "_blank"
      %li
        = link_to "70 credits / $50", "https://wnu.com/secure/services/?api=memberplus&pi_code=cocreo4p932355&member_id=#{current_user.member_id}&reseller=a&username=#{current_user.username}&referrer_pi_code=#{current_user.product_code}", method: :post, target: "_blank"
      %li
        = link_to "150 credits / $100", "https://wnu.com/secure/services/?api=memberplus&pi_code=cocreo5p932356&member_id=#{current_user.member_id}&reseller=a&username=#{current_user.username}&referrer_pi_code=#{current_user.product_code}", method: :post, target: "_blank"
        = link_to "150 credits / $100"

