!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Veronica Rodriguez
    %link{:href => "http://vjs.zencdn.net/5.0.0/video-js.css", :rel => "stylesheet"}/
    / If you'd like to support IE8
    %script{:src => "http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/opo7tqv.js"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body{:class => "#{yield(:bclass)}"}
    = render 'layouts/header'

    - flash.each do |name, msg|
      = content_tag :div, msg, class: "#{name} text-center pad-20"
    = yield
    .scroll-to-top
    = render 'layouts/footer'
    = javascript_include_tag 'application-btm'